* {
  font-family: "Courier New", monospace;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background: black;
  color: #00ff66;
  touch-action: none;
}

.hidden { display: none; }

/* WELCOME */
.welcome {
  position: fixed;
  bottom: -200px;
  width: 100%;
  text-align: center;
  animation: rise 2.5s forwards;
}

@keyframes rise {
  to { bottom: 40%; }
}

.welcome h1 {
  font-size: 32px;
}

.box {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  border: 1px solid #00ff66;
  background: rgba(0,255,100,0.05);
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: black;
  border: 1px solid #00ff66;
  color: #00ff66;
}

.top {
  font-size: 12px;
  margin-bottom: 5px;
}

#progress {
  font-size: 30px;
}

.result {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  text-align: center;
  border: 2px solid;
}

.result.deny {
  color: red;
  border-color: red;
}

.result.allow {
  color: #00ff66;
  border-color: #00ff66;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.panel {
  height: 150px;
  border: 1px solid #00ff66;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,255,100,0.05);
}
